<div class="footer">
    <div class="footer-title">
        <p><b>Contactanos</b></p>
        <hr>
    </div>
    <div class="footer-socialNetworks">
        <p>Encuentranos</p>
        <img src="assets/icons/footer/facebook-icon.svg" alt="" id="footer-item">
        <img src="assets/icons/footer/instagram-icon.svg" alt="" id="footer-item">
        <hr>
    </div>
    <div class="footer-phones">
        Telefonos
        <p>+504 1122-3344</p>
        <p>+504 1122-3344</p>
        <hr>
    </div>
    <div class="footer-copyrigth">
        <p>Copyright Ⓒ 2022 ENH. All Rights Reserved</p>
    </div>
</div>
