@import 'variables';

.header{
    display: flex;
    align-items: center;
    color: white;
    font-size: 24px;
    background-color: #8333DE;
    height: 65px;

    img{
        margin-right: 8px;
        margin-left: 35px;
    }

    .admin{
        color: #492F66;
        padding-left: 5px;
    }

    b{
        margin-left: 5px;
    }
}