@import 'variables';

:host{
    display: flex;
    flex-direction: column;
}

.order-component{
    display: flex;
    flex-direction: column;
    align-items: center;
    .item-list{
     width: 100%;   
    }
    
    .btn-confirm{
        box-shadow: none;
        border: 2px solid;
        border-color: #B940FF;
        background-color: white;
        color: #B940FF;
        font-size: 18px;
        height: 43px;
        width: 14em;
        margin-top: 2em;
        border-radius: 5px;
    }

}