:host{
    display: block;
    position: relative;
    height: 15em;
}

.map-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  
  .map-frame {
    border: 2px solid black;
    height: 15em;
  }
  
  #map {
    height: 100%;
  }