@import 'variables';

:host{
    display: block;
}
.business-cat-header{
    app-back-button{
        margin-top: 1.5em;
    }
}

.bg-blue{
    display: flex;
    justify-content: center;
    align-items: center;
    
    padding-top: 0.7em;
    padding-bottom: 0.9em;
    width: 100%;
    color: white;
    font-size: 2em;
    font-weight: 600;
    text-align: center;
    background-color:$main-color;
    img{
        width: 1.5em;
        margin-right: 0.6em;
        filter: brightness(10);
    }
}

.business-container{
    .business-options-container{
        app-business-option{
            margin-top: 1em;
        }
    }
}