



<body style="background: #8333DE;display: flex;flex-direction: column;flex-wrap: wrap-reverse;justify-content: center;align-items: stretch;align-content: stretch;">
    <section class="login-clean" style="background: #8333DE;border-radius: 13px;display: flex;flex-direction: column;flex-wrap: wrap-reverse;justify-content: center;align-items: stretch;align-content: stretch;">
        <form method="post" style="border-radius: 54px;display: flex;flex-direction: column;flex-wrap: wrap-reverse;justify-content: center;align-items: stretch;align-content: stretch;width: 363.688px;height: 398px;">
            <div class="illustration"></div>
            <div class="mb-3"><input class="form-control" type="email" name="email" placeholder="Email"></div>
            <div class="mb-3"><input class="form-control" type="password" name="password" placeholder="Password"></div>
            <div class="mb-3"><button class="btn btn-primary d-block w-100" type="submit" style="background: #6628AD;">Inicia Sesion</button></div><a class="forgot" href="#">Forgot your email or password?</a>
        </form>
    </section>

</body>
<div style="justify-content: center;background: #492F66;">
    <footer class="footer-clean" style="background: #492F66;">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-sm-4 col-md-3 item" style="color: rgb(255,255,255);">
                    <h3>Quienes Somos</h3>
                    <ul>
                        <li><a href="#">Términos y Condiciones</a></li>
                        <li><a href="#">Registra tu negocio</a></li>
                        <li></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
</div>



 