<div class="item">
    <img [src]="order.business_logo" alt="">
    <div class="item-desc">
        <div class="desc">
            <div class="product-info">
                <div class="user-fullname">
                    {{order.business_name}}
                    
                </div>
                <div class="location">
                    {{order.customer_name}}
                </div>
            </div>
            <div class="order-info">
                <div class="price">
                    {{order.order.order_products.length}} Encargos
                </div>
            </div>
        </div>
        <div class="btn-add">
            <div class="add-button" (click)="showOrderDetails(order.order._id)">
                <fa-icon [icon]="faChevronRight"></fa-icon>
            </div>
        </div>
    </div>
</div>