@import 'variables';
table {
    width: 50%;
    margin-top: 100px;
    margin-left: 20em;
}

.add-product {
    background-color: #8333DE;
    border-color:#8333DE;
}

img {
    padding-left: 15px;
}

.th {
    text-align: center;
}

td {
    text-align: center;
}