
$main-color: #8333DE;
$main-color-light: #AA79E3;
$dark-main-color: #492F66;
$dark-main-color-light: #38165E;
$dark-main-color-lighter: #6628AD;

$gray-darker : #9e9e9e;
$gray-secondary: #919191; 
$gray-lighter: #E5E5E5;

$secondary-text:#9f92a3;
$main-red: red;