@import 'variables.scss';
:host{
    display: flex;
}

.step-container{
    display: flex;
    background-color: white;
    padding: 1em;
    border-radius: 1em;
    .icon-space{
        display: flex;
        margin-right: 2em;
        margin-left: 0.5em;
    }
    .desc-space{
        .step{
            color: #6628AD;
            font-weight: 600;
            font-size: 18px;
        }
        .step-desc{
            color: $secondary-text;
            font-weight: 600;
            font-size: 14px;
        }
    }
}