@import 'variables';

img{
    padding-right: 20px;
    padding-left: 15px;
}

.item:hover{
    background-color: #6628AD;
    border-radius: 5px;
}

.item{
    color: white;
}

.active{
    background-color: black;
    border-radius: 5px;
}

.item.active:hover{
    background-color: #6628AD;
    border-radius: 5px;
}
