
$main-color: #8333DE;
$main-color-light: #6628AD;
$dark-main-color: #6628AD;
$dark-main-color-light: #492F66;
$dark-main-color-lighter: #492F66;

$gray-darker : #492F66;
$gray-secondary: white; 
$gray-lighter: #E5E5E5;

$main-red: #FF0700;