
$main-color: #00C7CE;
$main-color-light: #1DE8F1;
$dark-main-color: #224344;
$dark-main-color-light: #305657;
$dark-main-color-lighter: #3C6C6D;

$gray-darker : #A6A6A6;
$gray-secondary: #C4C4C4; 
$gray-lighter: #E5E5E5;

$main-red: #FF0700;