<div class="all-order-component">
    <div class="order-list">
        <div class="title-order-list">
            Escoge un motorista para ordenes sin asignación
        </div>
        <div class="item-list">



            <div class="item" *ngFor="let myorder of order">
                <img src="{{myorder.business_logo}}" alt="">
                <div class="item-desc">
                    <div class="desc">
                        <div class="product-info">
                            <div class="user-fullname">
                                {{myorder.business_name}}
                            </div>
                            <div class="location">
                                {{myorder.customer_name}}
                            </div>
                        </div>
                        <div class="order-info">
                            <div class="price">
                                {{myorder.amount}} productos
                            </div>
                        </div>
                    </div>
                    <div class="btn-add">
                        <div class="add-button">
                            <app-moto-button></app-moto-button>
                        </div>
                    </div>
                </div>
            </div>



        </div>
    </div>
    <div class="user-assign">
        <div class="title-user-list">
            Lista de motoristas
        </div>
        <div class="user-list">


            <div class="user-component" *ngFor="let man of deliveryMen">
                <div class="user-icon">
                    <svg width="23" height="26" viewBox="0 0 18 21" xmlns="http://www.w3.org/2000/svg">
                        <path d="M14.4001 5.10009C14.4001 7.91675 11.9824 10.2 9.0001 10.2C6.01781 10.2 3.6001 7.91675 3.6001 5.10009C3.6001 2.28343 6.01781 0 9.0001 0C11.9824 0 14.4001 2.28343 14.4001 5.10009Z" />
                        <path d="M13.2501 12H4.74994C2.13098 12 0 14.131 0 16.7499V20.25C0 20.664 0.335999 21 0.75 21H17.25C17.664 21 18 20.664 18 20.25V16.7499C18 14.131 15.869 12 13.2501 12V12Z"/>
                    </svg>
                </div>
                <div class="name-user">
                    {{man.fullname}}
                </div>
                <div class="moto-icon">
                    🏍
                </div>

            </div>


        </div>
    </div>

</div>